## Hello World

Sources:
https://github.com/jldbc/pybaseball
https://www.kaggle.com/code/weslayton/fangraphs-baseball-scraper-analysis

In [1]:
#import general libraries
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 200)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

from scipy import stats
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('bmh')

In [2]:
#install latest pybaseball
#pip install pybaseball

In [3]:
#import data sources
import pybaseball

In [4]:
from pybaseball import batting_stats

## Collect Data

### Annual data

In [5]:
df = pybaseball.team_fielding(2023,2023)

In [6]:
df.columns

Index(['teamIDfg', 'Season', 'Team', 'G', 'GS', 'Inn', 'PO', 'A', 'E', 'FE',
       'TE', 'DP', 'DPS', 'DPT', 'DPF', 'Scp', 'SB', 'CS', 'PB', 'WP', 'FP',
       'TZ', 'rSB', 'rGDP', 'rARM', 'rGFP', 'rPM', 'DRS', 'BIZ', 'Plays',
       'RZR', 'OOZ', 'TZL', 'FSR', 'ARM', 'DPR', 'RngR', 'ErrR', 'UZR',
       'UZR/150', 'CPP', 'RPP', 'Def', '0%', '# 0%', '1-10%', '# 1-10%',
       '10-40%', '# 10-40%', '40-60%', '# 40-60%', '60-90%', '# 60-90%',
       '90-100%', '# 90-100%', 'rSZ', 'rCERA', 'rTS', 'FRM', 'OAA', 'RAA'],
      dtype='object')

# Clean Data

In [7]:
print("Pre cleaning shape:", df.shape)

Pre cleaning shape: (30, 61)

In [8]:
df.head()

,teamIDfg,Season,Team,G,GS,Inn,PO,A,E,FE,TE,DP,DPS,DPT,DPF,Scp,SB,CS,PB,WP,FP,TZ,rSB,rGDP,rARM,rGFP,rPM,DRS,BIZ,Plays,RZR,OOZ,TZL,FSR,ARM,DPR,RngR,ErrR,UZR,UZR/150,CPP,RPP,Def,0%,# 0%,1-10%,# 1-10%,10-40%,# 10-40%,40-60%,# 40-60%,60-90%,# 60-90%,90-100%,# 90-100%,rSZ,rCERA,rTS,FRM,OAA,RAA
0,23,2023,Brewers,927,603,5337.00000,1779,588,30,11,18,115,49,39,49,10,55,12,2,18,0.98700,NaN,-1,0,0,4,13,31,808,680,0.84200,261,NaN,NaN,4.90000,1.30000,8.90000,3.00000,18.10000,9.00000,NaN,NaN,15.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,0,9,8.70000,10,9
1,13,2023,Rangers,858,594,5277.00000,1759,571,31,12,19,144,58,45,58,2,42,12,5,17,0.98700,NaN,1,-1,6,0,13,31,806,663,0.82300,253,NaN,NaN,3.80000,1.00000,2.80000,0.50000,8.10000,4.70000,NaN,NaN,14.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,7,4.50000,9,6
2,15,2023,Diamondbacks,901,603,5367.00000,1789,609,24,10,14,135,53,44,53,7,28,17,3,22,0.99000,NaN,3,2,1,1,12,12,851,698,0.82000,216,NaN,NaN,0.90000,-0.30000,8.00000,4.90000,13.60000,5.70000,NaN,NaN,13.40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8,4,-6,-5.80000,11,9
3,21,2023,Astros,837,603,5382.00000,1794,575,27,8,17,168,65,50,65,4,40,17,4,17,0.98900,NaN,3,3,0,0,8,9,752,603,0.80200,261,NaN,NaN,1.00000,1.80000,0.40000,0.60000,3.90000,2.30000,NaN,NaN,13.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9,-1,2,-7.80000,8,6
4,11,2023,Mariners,867,594,5298.00000,1766,563,29,12,17,89,40,27,40,6,38,11,2,23,0.98800,NaN,2,-1,1,-4,-1,7,777,619,0.79700,248,NaN,NaN,-0.70000,-2.40000,-6.20000,3.30000,-6.10000,-2.70000,NaN,NaN,10.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-1,10,-1.50000,11,9

In [9]:
df.columns

Index(['teamIDfg', 'Season', 'Team', 'G', 'GS', 'Inn', 'PO', 'A', 'E', 'FE',
       'TE', 'DP', 'DPS', 'DPT', 'DPF', 'Scp', 'SB', 'CS', 'PB', 'WP', 'FP',
       'TZ', 'rSB', 'rGDP', 'rARM', 'rGFP', 'rPM', 'DRS', 'BIZ', 'Plays',
       'RZR', 'OOZ', 'TZL', 'FSR', 'ARM', 'DPR', 'RngR', 'ErrR', 'UZR',
       'UZR/150', 'CPP', 'RPP', 'Def', '0%', '# 0%', '1-10%', '# 1-10%',
       '10-40%', '# 10-40%', '40-60%', '# 40-60%', '60-90%', '# 60-90%',
       '90-100%', '# 90-100%', 'rSZ', 'rCERA', 'rTS', 'FRM', 'OAA', 'RAA'],
      dtype='object')

In [10]:
print("Pre removal ", df.shape)
#df = df.drop(['#days'], axis = 1)

print("Post removal ", df.shape)

Pre removal  (30, 61)
Post removal  (30, 61)

In [11]:
df.columns

Index(['teamIDfg', 'Season', 'Team', 'G', 'GS', 'Inn', 'PO', 'A', 'E', 'FE',
       'TE', 'DP', 'DPS', 'DPT', 'DPF', 'Scp', 'SB', 'CS', 'PB', 'WP', 'FP',
       'TZ', 'rSB', 'rGDP', 'rARM', 'rGFP', 'rPM', 'DRS', 'BIZ', 'Plays',
       'RZR', 'OOZ', 'TZL', 'FSR', 'ARM', 'DPR', 'RngR', 'ErrR', 'UZR',
       'UZR/150', 'CPP', 'RPP', 'Def', '0%', '# 0%', '1-10%', '# 1-10%',
       '10-40%', '# 10-40%', '40-60%', '# 40-60%', '60-90%', '# 60-90%',
       '90-100%', '# 90-100%', 'rSZ', 'rCERA', 'rTS', 'FRM', 'OAA', 'RAA'],
      dtype='object')

In [12]:
# rename columns
#df = df.rename(columns = {'xyz': 'abc'})
#df.columns

In [13]:
# count nulls
counts = df.isna().sum()
percentages = round(df.isna().mean() * 100, 1)
null_values = pd.concat([counts, percentages], axis=1, keys=["count", "%"])
print(null_values)

           count         %
teamIDfg       0   0.00000
Season         0   0.00000
Team           0   0.00000
G              0   0.00000
GS             0   0.00000
Inn            0   0.00000
PO             0   0.00000
A              0   0.00000
E              0   0.00000
FE             0   0.00000
TE             0   0.00000
DP             0   0.00000
DPS            0   0.00000
DPT            0   0.00000
DPF            0   0.00000
Scp            0   0.00000
SB             0   0.00000
CS             0   0.00000
PB             0   0.00000
WP             0   0.00000
FP             0   0.00000
TZ            30 100.00000
rSB            0   0.00000
rGDP           0   0.00000
rARM           0   0.00000
rGFP           0   0.00000
rPM            0   0.00000
DRS            0   0.00000
BIZ            0   0.00000
Plays          0   0.00000
RZR            0   0.00000
OOZ            0   0.00000
TZL           30 100.00000
FSR           30 100.00000
ARM            0   0.00000
DPR            0   0.00000
RngR           0   0.00000
ErrR           0   0.00000
UZR            0   0.00000
UZR/150        0   0.00000
CPP           30 100.00000
RPP           30 100.00000
Def            0   0.00000
0%            30 100.00000
# 0%          30 100.00000
1-10%         30 100.00000
# 1-10%       30 100.00000
10-40%        30 100.00000
# 10-40%      30 100.00000
40-60%        30 100.00000
# 40-60%      30 100.00000
60-90%        30 100.00000
# 60-90%      30 100.00000
90-100%       30 100.00000
# 90-100%     30 100.00000
rSZ            0   0.00000
rCERA          0   0.00000
rTS            0   0.00000
FRM            0   0.00000
OAA            0   0.00000
RAA            0   0.00000

In [14]:
# drop nulls
print("Pre removal ", df.shape)
#df = df.dropna()
print("Post removal ", df.shape)

Pre removal  (30, 61)
Post removal  (30, 61)

In [15]:
# count duplicates
len(df['Team'])-len(df['Team'].drop_duplicates())

0

In [16]:
# remove dups

print("Pre removal ", df.shape)
#df = df.drop_duplicates(subset=['Name'])
print("Post removal ", df.shape)

Pre removal  (30, 61)
Post removal  (30, 61)

In [17]:
# remove outliers

#print("Pre removal ", df.shape)
#df = df[(np.abs(stats.zscore(df['xyz'])) < 3)]
#print("Post removal ", df.shape)

# Data Restructing

## Variable Restructing

### Level

In [18]:
# change column values
#df['Lev'] = df['Lev'].map({'Maj-AL': 'AL', 'Maj-NL': 'NL'})

In [19]:
# rename column
#df.rename(columns={'Lev': 'League'}, inplace=True)

In [20]:
# verify changes
#df[["League", "Name"]].groupby("League").count()

## Normalizations

In [21]:
#df=['Volume_norm'] = (df.Volume - df.Volume.mean()) / (df.Volume.max() - df.Volume.mix())
#df.columns

## Categorizations

In [22]:
#normalized = ['Volume_norm', 'Difficulty_norm']

## Calculations

In [23]:
#calculate wOBA on 14 day player batting

#df['wOBA'] = (0.69*df['BB'] + 0.72*df['HBP'] + 0.89*df['H'] + 1.27*df['2B'] + 1.62*df['3B'] + 2.10*df['HR']) / (df['AB'] + df['BB'] - df['IBB'] + df['SF'] + df['HBP'])

In [24]:
#df.head()

## Export Data

In [25]:
#EXPORT

df.to_csv('C:\\Users\\b7tbu\\JUPYTER PROJECTS\\ANALYTICO\\Data_Exports\\Team\\Fielding\\EXPORT_annual.csv', index=False)